<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include("../partials/header") %> <!-- Include header -->

  <main>
    <div>
      <h1>Welcome to National Connection Quality Monitoring System</h1>
    </div>
    <section>
      <h2>Statistics</h2>
      <ul>
        <li>Latency: <%= stats.totalUsers %></li>
        <li>Packet Loss: <%= stats.activeUsers %></li>
        <li>Jitter: <%= stats.totalRevenue %></li>
      </ul>
    </section>
  </main>

  <%- include("../partials/footer") %> <!-- Include footer -->
</body>
</html>
